extends layout

block content
    h1 #{source}
    p These are the results of your ps4 API call:
    p Euros #{quotes.USDEUR}
    p Australian Dollar #{quotes.USDAUD}
    //h1 Trump to Shakespeare: #{contents.translated}
    //#{observations.skyDescription}

    //h1 Data: #{source}
    //p Welcome to #{more JSON.values}
